@import '../../Variables.scss';

.site-title {
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3rem;

    h1 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 9rem;
    }

    p {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}